body{
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    background-image: url('https://t4.ftcdn.net/jpg/03/02/11/35/360_F_302113529_3ze1r8JC3FnMuQfnY18fOSCIu1sQrZFk.jpg');
}
h1{
    background-color: rgb(246, 246, 246);
}
.statsBoard{
    padding: 25px;
}

.countDown, .collected{
    padding: 15px;
    background-color: rgb(246, 246, 246);
    opacity: .85;
}
.engineer img{
    max-width: 45px;
    max-height: 45px;
}

.parent{
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 246, 246);
    opacity: .85;
}

.child{
    width: 50px;
    height: 50px;
    /* border: 1px solid black; */
}
